.header{

    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 10px 40px 10px 40px;

    
}

.search {
    flex: 1;
    display: flex;
    max-width: 100%;
    height: 45px;
    gap: 5px;
    border-radius: 5px;
}

.bar
{
    width: 100%;
    min-width: 75px;
    border-radius: 5px;
    border: none;
    background-color: #F0F0F0;
    padding-left: 5px;
}

.bar:focus{
    outline: none;
}

.buttom
{
    background-color: #8239f2;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.buttom:Hover{
    background-color: #7520f5;
}
.buttom:not(:Hover){
    background-color: #8239f2;
}